.row:after, .topbar:after, .portfolio__row:after, .panel--centered__heading:after, .panel--centered__description:after {
  content: "";
  display: table;
  clear: both;
}

.centered, .row, .topbar, .portfolio__row, .panel--centered__heading, .panel--centered__description, .hero__img, .portfolio__items__item, .panel--centered__image {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.center-text, .hero__text--centered, .hero__subhead--centered, .portfolio__heading, .panel--centered__heading, .panel--centered__description {
  text-align: center;
}

.footer .row, .footer .topbar, .footer .portfolio__row, .footer .panel--centered__heading, .footer .panel--centered__description, .topbar, .portfolio__row, .panel .row, .panel .topbar, .panel .portfolio__row, .panel .panel--centered__heading, .panel .panel--centered__description {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
}

.align-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  align-self: center;
  -ms-flex-item-align: center;
}

.base-text {
  font-family: "proxima-nova", sans-serif;
  font-size: 19px;
  color: #7e7e7e;
}

.heading, .heading-small, .portfolio__items__item__heading, .heading-medium, .panel--centered__heading, .panel--align__heading {
  font-family: "brandon-grotesque", sans-serif;
  color: #3b3b3b;
}

.heading-small, .portfolio__items__item__heading {
  font-size: 24px;
}

.heading-medium, .panel--centered__heading, .panel--align__heading {
  font-size: 30px;
}

[class^='grid__col--'] {
  /** @media (min-width: 1px) and (max-width: 768px) {
       margin-top: 0.8em;
       margin-bottom: 0.8em;
   }
   **/
}
@media (min-width: 769px) {
  [class^='grid__col--'] {
    float: left;
    min-height: 1px;
  }
  [class^='grid__col--'] + [class^='grid__col--'] {
    margin-left: 1.25em;
  }
  [class^='grid__col--']:last-of-type {
    float: right;
  }
}

.row, .topbar, .portfolio__row, .panel--centered__heading, .panel--centered__description {
  width: 90%;
}
[class*="grid__col--"] > .row, [class*="grid__col--"] > .topbar, [class*="grid__col--"] > .portfolio__row, [class*="grid__col--"] > .panel--centered__heading, [class*="grid__col--"] > .panel--centered__description {
  width: 100%;
}
@media (min-width: 1200px) {
  .row, .topbar, .portfolio__row, .panel--centered__heading, .panel--centered__description {
    width: 1180px;
  }
}

.footer {
  width: 100%;
  background-color: #3b3b3b;
  padding: 5em;
}

.footer .row, .footer .topbar, .footer .portfolio__row, .footer .panel--centered__heading, .footer .panel--centered__description {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/** .footer__col {
  
} **/
.footer__col__heading {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 24px;
  color: #818181;
  margin-bottom: 20px;
}

.footer__col__link {
  margin-top: 5px;
  display: block;
  color: #3ea9b9;
  text-decoration: underline;
}

.topbar {
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  font-family: "proxima-nova";
  height: 7.5em;
  background: transparent;
  color: black;
}
@media (max-width: 480px) {
  .topbar {
    height: 5em;
  }
}

.topbar__logo {
  margin-right: auto;
}

.topbar__nav__item {
  float: left;
}

.topbar__nav__item--active {
  color: #3b3b3b;
  padding-bottom: 0.1875em;
  border-bottom: 1px solid #3b3b3b;
}

.topbar__nav__item:last-child {
  margin-left: 50px;
}

.hero {
  background: url("/img/bg-home.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
}
@media (max-width: 480px) {
  .hero {
    padding: 3em 0;
  }
}

.hero__text--home, .hero__text--centered {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 72px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.25;
  max-width: 861px;
  margin: auto;
}
@media (max-width: 980px) {
  .hero__text--home, .hero__text--centered {
    font-size: 62px;
    max-width: 85%;
  }
}
@media (max-width: 567px) {
  .hero__text--home, .hero__text--centered {
    font-size: 36px;
  }
}
@media (max-width: 320px) {
  .hero__text--home, .hero__text--centered {
    font-size: 36px, 70%;
  }
}

.hero__subhead--centered {
  font-family: "proxima-nova", sans-serif;
  font-size: 19px;
  color: #c6c6c6;
}

.hero {
  padding: 8em 0;
}

.hero--rss-reader {
  background: url("/img/project/rss-reader/bg-hero.jpg") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 8em 0 0;
}

.hero__text--home {
  text-align: left;
}
@media (max-width: 980px) {
  .hero__text--home {
    font-size: 62px;
    max-width: 85%;
  }
}
@media (max-width: 567px) {
  .hero__text--home {
    font-size: 36px;
  }
}
@media (max-width: 320px) {
  .hero__text--home {
    font-size: 36px, 70%;
  }
}

.hero__img {
  display: block;
  padding-top: 3em;
  max-width: 90%;
}

.portfolio__heading {
  margin-top: 70px;
}

.portfolio__items__item__heading {
  margin-top: 15px;
}

.portfolio__items__item__subheading {
  margin-top: 5px;
}

.portfolio__row {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (min-width: 1px) and (max-width: 769px) {
  .portfolio__row {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
  }
}
.portfolio__items {
  margin-top: 130px;
}
@media (min-width: 1px) and (max-width: 769px) {
  .portfolio__items {
    margin-top: 65px;
  }
}

.portfolio__items__item {
  margin-bottom: 78px;
}

.portfolio__items__item,
.portfolio__items__item__image {
  max-width: 489px;
}
@media (max-width: 1200px) and (min-width: 971px) {
  .portfolio__items__item,
  .portfolio__items__item__image {
    width: 400px;
  }
}
@media (max-width: 970px) and (min-width: 769px) {
  .portfolio__items__item,
  .portfolio__items__item__image {
    width: 310px;
  }
}
@media (max-width: 769px) and (min-width: 1px) {
  .portfolio__items__item,
  .portfolio__items__item__image {
    width: 100%;
  }
}

.panel-light,
.panel-dark {
  padding: 120px 0;
  height: 100%;
}
@media (max-width: 769px) {
  .panel-light,
  .panel-dark {
    padding: 80px 0;
  }
}

.panel-light {
  background: #ffffff;
}

.panel-dark {
  background: #f7f7f7;
}

.panel--centered__heading {
  line-height: 1.25;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.panel--centered__description {
  margin-top: 40px;
}

.panel--centered__heading,
.panel--centered__description {
  max-width: 567px;
  /**@media (max-width: 640px) {
    text-align: left;
}**/
}

.panel--centered__image {
  max-width: 90%;
  display: block;
  margin-top: 100px;
}
@media (max-width: 640px) {
  .panel--centered__image {
    margin-top: 70px;
  }
}

.panel .row, .panel .topbar, .panel .portfolio__row, .panel .panel--centered__heading, .panel .panel--centered__description {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap-reverse;
  -moz-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.panel-textgroup {
  padding: 0 0 0 50px;
}
@media (max-width: 1011px) {
  .panel-textgroup {
    padding: 0;
  }
}
.panel-textgroup--left {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  box-ordinal-group: -1;
  -webkit-order: -1;
  -moz-order: -1;
  order: -1;
  -ms-flex-order: -1;
}

[class^="panel-textgroup"],
.panel--align__image {
  margin: 0 auto;
}

.panel--align__heading {
  text-align: left;
  line-height: 1.25;
}

.panel--align__description {
  text-align: left;
  margin-top: 40px;
}

.panel--align__heading,
.panel--align__description {
  max-width: 567px;
}
@media (max-width: 955px) {
  .panel--align__heading,
  .panel--align__description {
    text-align: center;
  }
}

.panel--align__image {
  max-width: 90%;
}
@media (max-width: 955px) {
  .panel--align__image {
    margin-top: 80px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 1.1875em;
  font-family: "proxima-nova", sans-serif;
  color: #7e7e7e;
  line-height: 30px;
}

a {
  text-decoration: none;
  color: #3b3b3b;
}
a:hover {
  color: #a1a1a1;
}

img {
  display: block;
}

/*# sourceMappingURL=style.css.map */
