// ===============================================================================
// Colors
// ===============================================================================


$white          :   #ffffff;

$light-grey     :   #f7f7f7;
$dark-grey      :   #818181;
$x-dark-grey    :   #e5e5e5;

$almost-black   :   #3b3b3b;

$blue           :   #3ea9b9;