// ===============================================================================
// Helpers
// ===============================================================================

// Clearfix

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Center elements 

.centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

//Flex

%flex-col {
    @include display(flex);
    @include flex-direction(column);
}

%flex-row {
    @include display(flex);
    @include flex-direction(row);
}

.row-wrap,
.row-wrap--reverse {
  @extend .row;
  @extend %flex-row;;
}

.row-wrap {
  @include flex-wrap(wrap)
}

.row-wrap--reverse {
  @include flex-wrap(wrap-reverse)
}

.align-center {
    @include align-self(center);
}
