// ===============================================================================
// Mixins
// ===============================================================================

@mixin doubly($margin: 1em) {
    & + & {
        margin-left:$margin;
        @content;
    }
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}