// ===============================================================================
// Typography
// ===============================================================================

// Base

$base-font               :   "proxima-nova", sans-serif;
$base-font--size         :   19px;
$base-font--color        :   #7e7e7e;
$base-link--color        :   $almost-black;
$base-link--hover        :   lighten($base-link--color, 40%);
$base-line-height        :   30px;

.base-text {
    font-family: $base-font;
    font-size: $base-font--size;
    color: $base-font--color;
}

// Secondary Font

$secondary-font          :   'brandon-grotesque', sans-serif;

// Headings

$heading-hero--size-lg   :   72px;
$heading-hero--size-md   :   62px;
$heading-hero--size-sm   :   36px;

$heading-hero--weight    :   400;

$heading-hero--color     :   $white;
$heading-hero--line-h    :   1.25;

$heading--color          :   $almost-black;
$heading-small--size     :   24px;
$heading-medium--size    :   30px;

.heading {
    font-family: $secondary-font;
    color: $heading--color;    
}

.heading-small {
    @extend .heading;
    font-size: $heading-small--size;

}

.heading-medium {
    @extend .heading;
    font-size: $heading-medium--size; 
}
