// ===============================================================================
// Typography
// ===============================================================================

// Base

$base-font               :   "proxima-nova", sans-serif;
$base-font--size         :   19px;
$base-font--color        :   #7e7e7e;
$base-link--color        :   $almost-black;
$base-link--hover        :   lighten($base-link--color, 40%);

.base-text {
    font-family: $base-font;
    font-size: $base-font--size;
    color: $base-font--color;
}

// Secondary Font

$secondary-font          :   'brandon-grotesque', sans-serif;

// Headings

$heading-hero--size-lg   :   72px;
$heading-hero--size-md   :   62px;
$heading-hero--size-sm   :   52px;

$heading-hero--weight    :   400;

$heading-hero--color     :   $white;
$heading-hero--line-h    :   1.25;

$heading-small--size     :   24px;
$heading-small--color    :   $almost-black;

.heading-small {
    font-family: $secondary-font;
    font-size: $heading-small--size;
    color: $heading-small--color;
}

.portfolio__heading {
    margin-top: 71px;
    @extend .center-text;
}

.portfolio__items__item__heading {
    @extend .heading-small;
    margin-top: 20px;
}

.portfolio__items__item__subheading {
    @extend .base-text;
    margin-top: 10px;
}



/**
    font-size: 72px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    max-width: 860px;
    margin: 0 auto;
    padding-top: 3em;
    @extend .centered;
**/
