
//Utilities 

@import 'bourbon/_bourbon';
@import '_helpers';
@import '_colors';
@import '_typography';
@import '_mixins';
@import '_grid';

//Modules

@import 'modules/index-modules';


*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-size: em(19px);
    font-family: $base-font;
    color: $base-font--color;
    line-height: $base-line-height;
}

a {
    text-decoration: none;
    color: #3b3b3b;
    
    &:hover {
        color: $base-link--hover;
    }
}






