.hero {
    @include flex(column);
    align-self: center;
    background: url('../img/bg-home.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 641px;
    
    @media (max-width: 720px) {
           /** height: 659px; **/ 
        }
    }
    

.hero__text--home {
    font-family: $secondary-font;
    font-size: $heading-hero--size-lg;
    color: $heading-hero--color;
    font-weight: $heading-hero--weight;
    line-height: $heading-hero--line-h;
    text-align: left;
    max-width: 861px;
    margin: auto;
    align-self: center;

    
    @media (max-width: 980px) {
        font-size: $heading-hero--size-md;
        max-width: 85%;
    }
    
    @media (max-width: 567px) {
        font-size: $heading-hero--size-sm;
    }
    
    @media (max-width: 320px) {
        font-size: ($heading-hero--size-sm, 70%);
    }
}