//Panel Base

%panel {
    padding: 120px 0;
    height: 100%;

    @media (max-width: 769px) {
      padding: 80px 0;
    }
}

.panel-light,
.panel-dark {
  @extend %panel;
}

.panel-light {
  background: $white;
}

.panel-dark {
  background: $light-grey;
}



//Panel Centered

.panel--centered__heading {
   
   @extend .row;
   @extend .heading-medium;
   @extend .center-text;
   line-height: $heading-hero--line-h;
   @include justify-content(center);
}

.panel--centered__description {
  @extend .row;
  @extend .centered;
  @extend .center-text;
  margin-top: 40px;
}

.panel--centered__heading,
.panel--centered__description {
    max-width: 567px;
    /**@media (max-width: 640px) {
      text-align: left;
  }**/
}

.panel--centered__image {
  max-width: 90%;
  display: block;
  @extend .centered;
  margin-top: 100px;
  
  @media (max-width: 640px) {
      margin-top: 70px;
  }
  
}

//Panel Right Aligned

.panel-textgroup {
  padding: 0 0 0 50px;
  
    @media (max-width: 1011px) {
    padding: 0;
  }
  
    &--left {
    @include order(-1);
  }
}

[class^="panel-textgroup"],
.panel--align__image {
  margin: 0 auto;
}

.panel--align__heading {
   @extend .heading-medium;
   text-align: left;
   line-height: $heading-hero--line-h;
}

.panel--align__description {
  text-align: left;
  margin-top: 40px;
}

.panel--align__heading,
.panel--align__description {
    max-width: 567px;
    @media (max-width: 955px) {
      text-align: center;
  }
}

.panel--align__image {
  max-width: 90%;
  @media (max-width: 955px) {
    margin-top: 80px;
  } 
}

//Panel with big image only

.panel--imageonly {
  margin: 5em auto;
  max-width: 90%;
}





