.portfolio__heading {
    margin-top: 70px;
    @extend .center-text;
}

.portfolio__items__item__heading {
    @extend .heading-small;
    margin-top: 15px;
}

.portfolio__items__item__subheading {
    margin-top: 5px;
}

.portfolio__row {
    @include flex-wrap(wrap);
    @extend .row;
    @extend %flex-row;
}

@media (min-width: 1px) and (max-width: 769px) {
    .portfolio__row {
        @include display(flex);
        @include flex-direction(column);
    }
}

.portfolio__items {
    margin-top: 130px;
    
    @media (min-width: 1px) and (max-width: 769px) {
        margin-top: 65px;
    }
}

.portfolio__items__item {

    @extend .centered;
    margin-bottom: 78px;
}


.portfolio__items__item,
.portfolio__items__item__image {
    max-width: 489px;
    @media (max-width: 1200px) and (min-width: 971px) {
        width: 400px;
    }
    @media (max-width: 970px) and (min-width: 769px) {
        width: 310px;
    }
    @media (max-width: 769px) and (min-width: 1px) {
        width: 100%;
   
    }
}

